body {
    background-color: darkblue;
  }
  
a {
  color: aqua;
}


#window {
  display: flex;
  height: 860px;
}


#game {
  max-width: 600px;
  height: 665px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
  flex: 1;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

.stat {
  padding-right: 10px;
}

#controls {
  text-align:center;
  border: 1px black solid;
  padding: 5px;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
  text-indent: 15px;
}

.instruction {
  background-color: #303030;
  color: LightSalmon;
  padding: 1px 20px;
}


#combat {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  max-width: 400px;
  height: 620px;
  border: 1px black solid;
  background-color: gray;
  color: white;
  margin: 0 auto;
  padding: 10px;
  flex: 1;
  display: none;
}

#playerStats {
  display: block;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: green;
}

#enemyStats {
  display: block;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: crimson;
}

#distanceGraph {
  display:block;
  text-align: center;
}

#enemyImage {
  margin: auto;
  border: 1px black solid;
  background-color: lightsteelblue;
  height: 300px;
}

#enemyImage img {
  display: block;
  margin: auto;
  width: 380;
  height: 300px;
  object-fit: contain;
}

#combatControls {
  text-align:center;
  border: 1px black solid;
  padding: 5px;
}

#combatText {
  height: 400px;
  border: 1px black solid;
  background-color: black;
  color: white;
  padding: 10px;
  text-indent: 15px;
  max-height: 130px;
  overflow-y: scroll;
  overflow-anchor: auto;
}

.allyText {
  color: lime;
}

.enemyText {
  color: red;
}


#skill {
  position: absolute;
  left: 0;
  right: 0;
  top: 220px;
  width: 400px;
  height: 205px;
  border: 1px black solid;
  background-color: gray;
  color: white;
  margin: 0 auto;
  padding: 10px;
  flex: 1;
  display: none;
}

#skillText {
  height: 120px;
  border: 1px black solid;
  background-color: black;
  color: white;
  padding: 10px;
  text-indent: 15px;
  overflow-y: scroll;
  overflow-anchor: auto;
}

#skillControls {
  text-align:center;
  border: 1px black solid;
  padding: 5px;
}

#skillResults {
  border: 1px black solid;
  padding: 5px;
}

.result {
  width: 192px;
  display: inline-block;
}